body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body>header>nav, body>footer{
    background-color:  white;
    padding:10px;
    border-radius: 10px;
    width:100%;
}

header>nav{
    display:inline-block;
    
}
header>nav img{
    float:right;
}

nav img{
    width:30%;
    height:20%; 
    padding:0;
}


body>header>nav li{
    display:inline-block;
}


body>header>article{
    background-color: #fee263;
    border-radius: 10px;
    padding: 10px;
    margin-top:10px;
    width: 100%;
    font-size: 10pt;
    font-weight: bold;
}

body>header>article>ul>li a{
    color:rgb(98, 97, 97);
    text-decoration: none;
}

body>header>article>ul>li a:hover{
    color:#087e8b;
    text-decoration: underline;
}

body>header h1{
    font-size: 22pt;
    color: rgb(98, 97, 97);
}


body>header{
    padding: 1px 5px;
    border-radius: 10px;
}

article img{
    max-height: 150px;
    max-width: 100%;
    display: inline;
    float:left;
    margin-right: 20px;
    border-radius: 50%;
}

body>header footer{
    text-align: right;
}

header ul, footer ul, nav ul, article li{
    list-style: none;
}

body>main>article{
    margin: 20px;
    border: 3px solid  #087e8b;
    padding: 10px;
    border-radius: 10px;
    margin: 5%;
    width:90%;
    font-size: 10pt;
}

/**qui modifico stile bio**/
body>header>aside{
    margin-top:45px;
    background-color: white;
    border-top:3px solid #fcdc4d;
    border-bottom:3px solid #fcdc4d;
    width: 100%;
}

body>header>aside h2{
    font-size: 10pt;
    color: rgb(48, 46, 46);
}

body>header>aside p{
    font-size: 9pt;
    text-align:justify;
}


article>header>h2{
    font-size: 15pt;
}

article>header>p{
    font-size: 10pt;
}

article>footer>ul>li{
    display: inline-block;

}

article>footer a, article>footer input{
    background-color: white;
    border-radius: 5px;
    font-size: 10pt;
    text-decoration: none;
    color: rgb(48, 46, 46);
    border-style:solid;
}

header>nav a, article>nav a, article>footer>a{
    border-style: solid;
}

article>footer a:hover, article>footer input:hover{
    border-style:double;
}

nav{
    border-radius: 10px;
}

nav a:hover{
    color:#087e8b;
    background-color: white;
    font-weight: bold;
}

body footer{
    color:rgb(250, 249, 249);
    text-align: center;
    width: 100%;
    border-radius: 10px;
    font-size: 8pt;
}

/**css per mappa google**/
article div{
    position:relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

article iframe{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

/**css per menu con icona animata**/
/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width:40%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    float:right;
    background-color: #087e8b; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #087e8b;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 15px;
    margin-left: 30px;
    padding: 5px;
  }

  .sidepanel{
    float:left;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 12px;
    cursor: pointer;
    background-color: #087e8b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius:10px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }