.caricamento{
    display: flex;
    flex-direction: column;
}

.file{
    border:2px solid var(--hilfeBlue);
    padding:3pt;
    border-radius: 10pt;
    width: 90%;
}

.carica{
    width: 40%;
    background-color: var(--hilfeRed);
    color:white;
    font-size: 10pt;
    border-radius: 10pt;
}

@media screen and (min-width: 768px){
    .colonna2{
        padding:0;
    }
}