body{
    font-family:"Century Gothic" ;
}

body>header>nav{
    background-color:  #f9fcfd;
    border-bottom: 1px solid grey;
    width:100%;
}

body>footer{
    background-color: #087e8b;
    color:white;
    text-align: center;
    width: 100%;
    font-size: 8pt;
    padding:10px;
   
}

/**immagine logo barra in alto**/
body>header>nav>img{
    float: right;
    height:40px; /**modificare in base a logo nuovo**/
}

/**modifica bottoni menù slidebar**/ 
body>header>nav>div a{
    border:1px solid white;
}

