.profilo{
    float:right;
    border: 2px solid var(--hilfeRed);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat; /**non ripete l'immagine nel caso il bottone fosse più grande dell'immagine**/
    background-position: center center; /**per centrare l'immagine**/
}

.titoloPopup{
    font-size: 13pt;
    color:var(--hilfeRed);
    font-weight: bold;
}

.newPostContainer{
    width: 100%;
    max-width: 700px;
}

.articles{
    max-width: 700px;    
    margin: 0 10px;
    text-align: center;
}

.newPost {
    justify-content: space-between;
    background-color: var(--hilfeBlue);
    border-radius: 10pt;
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
}

/**Nuovo post**/
.newPost a {
    text-align: center;
    background-color: white;
    border-radius: 10pt;
    padding: 7pt 10pt;
    color: var(--hilfeGrey);
    text-decoration: none;
    margin: 5pt 6pt;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.9);
    width: 100%;
    font-size: 11pt;
}

.newPost>* {
    margin: 7px;
}


.newPost>a:hover{
    background-color: white;
    font-weight: bold;
}

main>article section>p{
    margin:5pt;
}

section>h3{
    color: var(--hilfeGrey);
    margin:0;
}

.articles header{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

article>header {
    margin: 0 15px;
}

article>header h2{
    margin-top:15pt;
}

article>header .infoUtente{
    display:flex;
    align-items: center;
    margin-left: auto;
}

.infoUtente{
    margin:0;
    text-decoration: none;
    color: var(--hilfeGrey);  
}

.nomeAutore{
    margin-right: 5pt;
    text-decoration: none;
    color: var(--hilfeGrey);
}

/**per modificare stile della tabella**/
table {
    border-collapse: collapse;
    width: 70%;
    margin: 10pt auto;
}

td,
th {
    border: 1px solid #ddd;
    padding: 2pt;
    font-size: 9pt;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    padding: 5pt;
    text-align: left;
    background-color: var(--hilfeBlue);
    color: white;
}

/**posiziona tab in alto**/
.newPostContainer {
    margin: 10pt auto 0 auto;
    text-align: center;
}

.navbar a {
    background-color: var(--hilfeRed);
    padding: 5pt;
    text-decoration: none;
    color: white;
    border-top-right-radius: 10pt;
    border-top-left-radius: 10pt;
}

.navbar .default {
    background-color: var(--hilfeBlue);
}

.default {
    background-color: var(--hilfeBlue);
}

.navbar a:active {
    /**deve cambiare colore una volta cliccato**/
    background-color: var(--hilfeBlue);
    font-weight: bold;
}

.navbar a:hover {
    /**deve cambiare colore una volta cliccato**/
    background-color: var(--hilfeBlue);
}

body>header>ul i{
    float:right;
}

body main article {
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10pt;
    color: var(--hilfeGrey);
    text-align: left;
    background-color: white;
    box-shadow: 2px 2px 4px grey;
}

body main article p {
    font-size: 10pt;
}

.date, .infoUtente p{
    font-size: 8pt;
}

.time, .people, .phoneNumber{
    font-weight: bold;
}

h2 {
    font-size: 19pt;
    font-weight: bold;
}

article>footer {
    margin: 10px;
    text-align: center;
}

article>footer>input {
    background-color: var(--hilfeBlue);
    color: white;
}

article>footer>a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, var(--hilfeBlue), #0e4c53);
}

.openmap {
    width: 85%;
    height: 200px;
    z-index: 0;
    margin: 5pt auto;
    border: 2px solid var(--hilfeRed);
    border-radius: 10pt;
}


.buttonPartecipa, .buttonPartecipanti, .buttonSalva, .buttonAltriPost{
    font-size: 9pt;
    font-family: "Fira Sans", sans-serif;
    padding: 5pt;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border:1px solid white;
    color: #ffffff;
}

.buttonSalva{
    background: var(--hilfeRed);
    border-top-left-radius: 10pt;
    border-bottom-left-radius: 10pt;
    margin-right: 0;
}

.buttonPartecipa{
    background: var(--hilfeBlue);
    margin-left: 0;
    margin-right: 0;
}

.buttonPartecipanti {
    background: color-mix(in srgb,var(--hilfeBlue),#000 30%); 
    border-top-right-radius: 10pt;
    border-bottom-right-radius: 10pt;
    min-width: 50px;
    margin-left:0;
}
.buttonSalva:hover{
    background: var(--hilfeBlue);
}

/*.buttonPartecipanti:hover, commentare la regola sopra se il pulsante è premibile */
.buttonPartecipa:hover{
    background: var(--hilfeRed);
}

.buttonPartecipanti:hover {
    background: color-mix(in srgb,var(--hilfeRed),#000 30%); 
}

.button__progress {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background: var(--hilfeBlue);
    transition: width 0.3s;
    border-radius: 0 10pt 10pt 0;
}

.button__text {
    position: relative;
}

h3 {
    font-size: 15pt;
    font-weight: bold;
    color: white;
    padding: 5pt;
}

.buttonAltriPost{
    margin: 10px auto ;
    font-size: large;
    background: var(--hilfeRed);
    border-radius: 13pt;
    width: 20%;
}

.buttonAltriPost:hover{
    background: var(--hilfeBlue);
}

/**media query per dispositivi non mobile**/
@media screen and (min-width: 768px) {

    .navbar {
        margin-left: 10px;
    }
    .navbar a{
        float: left;
        margin:0px 5px;
    }

    body>header>ul {
        display: inline-block;
    }

    body>header>ul a {
        float: right;
        width: 50%;
        text-align: center;
    }

    .content{
        display:flex;
        width: 100%;
    }

    .openmap{
        width: 40%;
        height:auto;
        margin: 10px;
    }

    .content>section{
        width: 60%;
        margin: 10px;
    }

    .partenzaContainer{
        margin:0;
        padding:0;
        color:white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .partenzaContainer input{
        width:80%;
        border-radius: 10pt;
        border:none;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.9);
        padding:5pt 3pt;

    }

    .rangeContainer{
        display:flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: 5pt;
    }

    .rangeContainer span{
        color:white;
    }

    .rangeContainer input{
        width:80%;
    }

    .rangeValue, .partenza{
        color:white;
    }

    .vai{
        background-color: var(--hilfeBlue);
        color:white;
        border-radius: 15pt;
        border: 2px solid white;
        font-size: 14pt;
        margin-bottom: 5pt;
        width:50%;
    }
}



/**CSS per il pop up**/ 
#popup h3{
    color:var(--hilfeRed);
    font-weight: bold;
}

#popup .infoUser {
    width:90%;
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--hilfeGrey);
    text-decoration: none;
    color: grey;
}

#popup .infoUser p {
    margin: 5px 0;
}


#popup .infoUser img {
    width: 30px; /* Puoi regolare la larghezza dell'immagine a tuo piacimento */
    height:30px;
    border-radius: 50%;
    float:left; 
    margin-right: 3pt;
    border: 2px solid var(--hilfeRed);
     
}

#popup .profile{
    display:flex;
    flex-direction: column;
    justify-content: left;
}

#popup .profile span{
    width:100%;
    text-decoration: none;
    color:grey;
    font-size: 10pt;
    margin-top: 2pt;
    font-weight: bold;
}
#popup .profile span:hover{
    color:var(--hilfeRed);
}

#popup .profile p{
    color:grey;
    width: 100%;
}

#popup .amici{
    font-size: 8pt;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }

  .closePopup{
    background-color: var(--hilfeRed);
    color: white;
    border: 2px solid white;
    padding: 5pt 10pt;
    width:100%;
    border-radius: 5pt;
  }

  .closePopup:hover{
    background-color: var(--hilfeBlue);
    cursor:pointer;
  }
