body>header>ul {
    background-color: #087e8b;
    border-radius: 10pt;
    list-style: none;
    padding: 2pt 5pt;
    display: inline-flex;
    /** controllare se c'è opzione migliore**/
    margin-top: 0;
    width: 100%;
}

/**per modificare stile della tabella**/
table {
    border-collapse: collapse;
    width: 70%;
    margin: 5pt auto;
}

td,
th {
    border: 1px solid #ddd;
    padding: 2pt;
    font-size: 9pt;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    padding: 5pt;
    text-align: left;
    background-color: #087e8b;
    color: white;
}

/**posiziona tab in alto**/
header>div {
    margin: 10pt auto 0 auto;
    text-align: center;
}

header>div a {
    background-color: #f4c03e;
    padding: 5pt;
    text-decoration: none;
    color: white;
    border-top-right-radius: 10pt;
    border-top-left-radius: 10pt;
}

.default {
    background-color: #087e8b;
}

header>div a:active {
    /**deve cambiare colore una volta cliccato**/
    background-color: #087e8b;
    font-weight: bold;
}

header>div a:hover {
    /**deve cambiare colore una volta cliccato**/
    background-color: #087e8b;
    font-weight: bold;
}

body>header>ul p {
    float: left;
    color: white;
    font-size: 10pt;
    margin-right: 5pt;
}

body>header>ul a {
    float: right;
    background-color: white;
    border-radius: 10pt;
    padding: 2pt 10pt;
    color: grey;
    text-decoration: none;
    font-size: 10pt;
    margin-top: 8pt;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.9);
}

body>main>article {
    border: 3px solid #f4c03e;
    padding: 5px;
    border-radius: 10px;
    width: 90%;
    font-size: 10pt;
    margin-bottom: 10pt;
    margin-left: 5%;
}

body>main>article p {
    font-size: 8pt;
}

h2 {
    font-size: 12pt;
    font-weight: bold;
}

article>footer {
    text-align: center;
}

/**sistemare bottoni**/
article>footer>input,
article>footer>a {
    border: 1px solid #087e8b;
    border-radius: 10pt;
    padding: 5pt;
    font-family: Century Gothic;
    font-size: 8pt;
    margin: 5pt 0;
}

article>footer>input {
    background-color: #087e8b;
    color: white;
}

article>footer>a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #087e8b, #0e4c53);
}

.openmap {
    width: 400px;
    height: 400px;
    z-index: 0;
    margin: 5pt auto;
    border: 2px solid #f4c03e;
    border-radius: 10pt;
    /**tondeggiante o quadrata?**/
}

#navbar {
    z-index: 999;
}

#mySidepanel {
    width: 0;
}

/**modifica dello pannello dei profili suggeriti**/
aside {
    display: none;
}

.button {
    border: none;
    background: #087e8b;
    color: #ffffff;
    padding: 7px 16px;
    position: relative;
    cursor: pointer;
    font-family: "Fira Sans", sans-serif;
    overflow: hidden;
    border-radius: 30px;
    min-width: 50px;
}

.button__progress {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: width 0.3s;
}

.button__text {
    position: relative;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
    /* Adjust the width as needed */
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.openbtn {
    order: -1;
}

/**media query per dispositivi non mobile**/
@media screen and (min-width: 768px) {

    body>main,
    body>header>ul {
        width: 60%;
        display: inline-block;
        text-align: justify;
    }

    body>header>div {
        text-align: left;
        margin-left: 10pt;
    }

    aside {
        display: inline-block;
        background-color: #f4c03e;
        border-radius: 10pt;
        margin: 5pt;
        width: 30%;
        vertical-align: top;
    }

    .logo {
        margin-left: 0;
        margin-right: 0;
        display: block;
    }

    h3 {
        font-size: 10pt;
        font-weight: bold;
        color: white;
        padding: 5pt;
    }

    aside ul {
        list-style: none;
    }

    aside>ul {
        display: inline-block;
    }

    aside a {
        float: left;
    }

    aside>ul>li a {
        text-decoration: none;
        color: white;
        font-size: 10pt;
    }

    body>header>ul {
        display: inline-block;
    }

    body>header>ul a {
        float: right;
        width: 50%;
        text-align: center;
    }
}