header, .footer{
    text-align: center;
    box-sizing: border-box;
}

.centralContent {
    display: flex;
    justify-content: center;
}
.newPostContainer{
    width: 100%;
    max-width: 700px;
}

.articles{
    max-width: 60%;
    max-width: 700px;
}

.newPost {
    justify-content: space-between;
    background-color: #087e8b;
    border-radius: 10pt;
    display: inline-flex;
    /** controllare se c'è opzione migliore**/
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
}

.newPost>* {
    margin: 7px;
}

main>article section>p{
    margin:5pt;
}

article>header .infoUtente, article>header p, article>header h2{
    display:inline-block;
}

article>header h2{
    margin-top:15pt;
}

article>header .infoUtente{
    float:right;
    vertical-align: top;
}

.infoUtente p{
    margin-right: 5pt;
}

/**per modificare stile della tabella**/
table {
    border-collapse: collapse;
    width: 70%;
    margin: 5pt auto;
}

td,
th {
    border: 1px solid #ddd;
    padding: 2pt;
    font-size: 9pt;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    padding: 5pt;
    text-align: left;
    background-color: #087e8b;
    color: white;
}

/**posiziona tab in alto**/
header>div {
    margin: 10pt auto 0 auto;
    text-align: center;
}

header>div a {
    background-color: #f4c03e;
    padding: 5pt;
    text-decoration: none;
    color: white;
    border-top-right-radius: 10pt;
    border-top-left-radius: 10pt;
}

.default {
    background-color: #087e8b;
}

header>div a:active {
    /**deve cambiare colore una volta cliccato**/
    background-color: #087e8b;
    font-weight: bold;
}

header>div a:hover {
    /**deve cambiare colore una volta cliccato**/
    background-color: #087e8b;
    font-weight: bold;
}


/**Nuovo post**/
.newPost a {
    text-align: center;
    background-color: white;
    border-radius: 10pt;
    padding: 7pt 10pt;
    color: grey;
    text-decoration: none;
    font-size: 10pt;
    margin: 5pt 6pt;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.9);
    width: 100%;
}

body>header>ul i{
    float:right;
}

body main article {
    border: 3px solid #f4c03e;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10pt;
    color: #454545;
    
}

body main article p {
    font-size: 10pt;
}

.date, .infoUtente p{
    font-size: 8pt;
}

.time, .people{
    font-weight: bold;
}

h2 {
    font-size: 13pt;
    font-weight: bold;
}

article>footer {
    text-align: center;
}

article>footer>input {
    background-color: #087e8b;
    color: white;
}

article>footer>a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #087e8b, #0e4c53);
}

.openmap {
    width: 400px;
    height: 400px;
    z-index: 0;
    margin: 5pt auto;
    border: 2px solid #f4c03e;
    border-radius: 10pt;
    /**tondeggiante o quadrata?**/
}

/**modifica dello pannello dei profili suggeriti**/
aside {
    display: none;
}

.buttonPartecipa, .buttonPartecipanti, .buttonSalva{
    font-size: 9pt;
    font-family: "Fira Sans", sans-serif;
    padding: 5pt;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border:1px solid white;
    color: #ffffff;
}

.buttonSalva{
    background: #f4c03e;
    border-top-left-radius: 10pt;
    border-bottom-left-radius: 10pt;
    margin-right: 0;
}

.buttonPartecipa{
    background: #087e8b;
    margin-left: 0;
    margin-right: 0;
}

.buttonPartecipanti {
    background: #087e8b;
    border-top-right-radius: 10pt;
    border-bottom-right-radius: 10pt;
    min-width: 50px;
    margin-left:0;
}

.button__progress {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: width 0.3s;
}

.button__text {
    position: relative;
}


.footer p{
    color:white;
    text-decoration: none;
}

/**media query per dispositivi non mobile**/
@media screen and (min-width: 768px) {

    .navbar {
        margin-left: 10px;
    }
    .navbar a{
        float: left;
        margin:0px 5px;
    }

    .leftAside{
        width: 20%;
        max-width: 200px;
    }

    aside, .leftAside {
        width: 20%;
        max-width: 200px;
        display: inline-block;
        background-color: #f4c03e;
        border-radius: 10pt;
        margin: 5pt;
        vertical-align: top;
        text-align: left;
        padding-left: 10pt;
        height: fit-content;
    }

    .infoUser {
        width:90%;
        margin-bottom: 10px;
        border-bottom: 1px solid white;
    }
    .profile{
        display:flex;
    }

    .profile img {
        width: 30px; /* Puoi regolare la larghezza dell'immagine a tuo piacimento */
        height:30px;
        border-radius: 50%;
        float:left; 
        margin-right: 3pt;
         
    }

    .profile a{
        text-decoration: none;
        color:white;
        font-size: 9pt;
        margin-top: 2pt;
    }

    .infoUser p{
        color:white;
    }

.amici{
        font-size: 8pt;
    }

    h3 {
        font-size: 11pt;
        font-weight: bold;
        color: white;
        padding: 5pt;
    }

    aside ul {
        list-style: none;
    }

    aside>ul {
        display: inline-block;
    }

    aside a {
        float: left;
    }

    aside>ul>li a {
        text-decoration: none;
        color: white;
        font-size: 10pt;
    }

    body>header>ul {
        display: inline-block;
    }

    body>header>ul a {
        float: right;
        width: 50%;
        text-align: center;
    }

    .content{
        display:flex;
        width: 100%;
    }

    .openmap{
        width: 40%;
        height:auto;
        margin: 10px;
    }

    .content>section{
        width: 60%;
        margin: 10px;
    }
}