main {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    margin: 10pt auto;
    box-shadow: 2px 2px 4px grey;
    border-radius: 10pt;
    max-width: 900px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.colonna1,
.colonna2 {
    width: 100%;
}

div {
    margin: 0;
    padding: 0;
}

.titolo {
    margin-top: 0;
}

.titolo,
.testo {
    padding: 0;
    height: 20px;
}

.titolo,
.giorno,
.luogo,
.numPersone,
.ora {
    width: 100%;
}

form input, .testo {
    border: 2px solid var(--hilfeRed);
    border-radius: 3pt;
    margin-bottom: 10pt;
}

.testo{
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 90%;
}

.giorno,
.luogo,
.numPersone,
.ora,
.persone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    font-size: 12pt;
}

.giorno input,
.luogo input {
    width: 80%;
    margin-left: 10pt;

}

h1 {
    width: 100%;
    font-size: 20pt;
    color: var(--hilfeBlue);
    text-align: center;
    margin-bottom: 0;
}


.form h2 {
    font-size: 13pt;
    color: var(--hilfeBlue);
    margin-left: 2pt;
}

.numPersone {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.numPersone input {
    height: 25px;
}

.persone {
    width: 70%;
    max-width: 200px;
}

.meno,
.piu {
    border-radius: 50%;
    font-size: 15pt;
    height: 30px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.meno {
    background-color: var(--hilfeRed);
    padding: 2pt 7pt;
}

.piu {
    background-color: var(--hilfeBlue);
    padding: 2pt 6pt;
}

.materiale {
    width: 100%;
    display: flex;
    margin-bottom: 5pt;
    justify-content: space-between;
}

.materiale .oggetto {
    width: 80%;
}

.materiale .quantita {
    width: 10%;
}

.aggiungi {
    background-color: var(--hilfeRed);
    border-radius: 10pt;
    border: none;
    color: white;
    width: 50%;
    padding: 5pt;
    margin-bottom: 20pt;

}

.pubblica,
.cancella{
    padding: 10pt 0;
    border-radius: 15pt;
    border: none;
    color: white;
    font-size: 12pt;
    cursor: pointer;
    width: 60%;
}

.cancella {
    background-color: var(--hilfeRed);
}

.pubblica {
    background-color: var(--hilfeBlue);
}

.form>footer {
    margin: 10pt auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.aggiungi:hover,
.meno:active,
.meno:hover,
.cancella:hover{
    background-color: var(--hilfeBlue);
    color: white;
}


.piu:active,
.pubblica:hover,
.piu:hover {
    background-color: var(--hilfeRed);
    color: white;
}

.testo {
    resize: none;
    width: 100%;
    height: 150px;
}

.numero {
    width: 20pt;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
    }

    .centralContent {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .form {
        width: 95%;
    }

    main {
        width: 80%;
    }

    .form>footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .titolo,
    .testo,
    .luogo input,
    .giorno input,
    .oggetto {
        padding: 5pt 2pt;
    }

    .titolo {
        margin-bottom: 0;
    }

    .pubblica,
    .cancella{
        width: 30%;
    }
    
    .colonna1,
    .colonna2 {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-content: center;
        width: 48%;
    }

    .colonna2 {
        padding-top: 13pt;
    }

    .giorno,
    .luogo,
    .pers {
        font-size: 12pt;
    }

}