body{
    font-family:"Century Gothic" ;
}

body>header>nav{
    background-color:  #087e8b;
    border-bottom: 3px solid #087e8b;
    width:100%;
    border-radius: 10px;;
}

body>footer{
    background-color: #087e8b;
    color:white;
    text-align: center;
    width: 100%;
    font-size: 8pt;
    padding:10px;
    border-radius: 10px;
}

/**immagine logo barra in alto**/
body>header>nav>img{
    float:right;
    height:40px; /**modificare in base a logo nuovo**/
}

/**immagine profilo**/
body>header>article>ul>li img{
    max-height: 150px;
    max-width: 100%;
    display: inline;
    float:left;
    margin-right: 20px;
    border-radius: 50%;
    border:5px solid white;
}

/**modifica bottone Segui**/
article>ul input{
    border-radius:5px;
    background-color: white;
    float:right;
    padding:5px 10px;
}

body>header>article{
    background-color: #f4c03e;
    border-radius: 10px;
    padding: 10px;
    margin-top:10px;
    width: 100%;
    font-size: 10pt;
    font-weight: bold;
}

body>header>article>ul>li a{
    color:white;
    text-decoration: none;
    font-size: 13pt;
}

body>header>article>ul>li a:hover{
    color:#087e8b;
    text-decoration: underline;
}

body>header h1{
    font-size: 22pt;
    color:white;
}


header ul, footer ul, nav ul, article li{
    list-style: none;
}

body>main>article{
    margin: 20px;
    border: 3px solid  #087e8b;
    padding: 10px;
    border-radius: 10px;
    margin: 5%;
    width:90%;
    font-size: 10pt;
}

/**qui modifico stile bio**/
body>header>aside{
    margin-top:45px;
    background-color: white;
    border-top:3px solid #fcdc4d;
    border-bottom:3px solid #fcdc4d;
    width: 100%;
}

/**modifica titolo biografia**/
body>header>aside h2{
    font-size: 10pt;
    color: rgb(48, 46, 46);
}

body>header>aside p{
    font-size: 9pt;
    text-align:justify;
}


article>header>h2{
    font-size: 15pt;
}

article>header>p{
    font-size: 10pt;
}

article>footer>ul>li{
    display: inline-block;

}

article>footer a{
    background-color: white;
    border-radius: 5px;
    font-size: 10pt;
    text-decoration: none;
    color: rgb(48, 46, 46);
    border-style:solid;
}

nav a:hover{
    color:#087e8b;
    background-color: white;
    font-weight: bold;
}



/**css per mappa google**/
article div{
    position:relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

article iframe{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

/**css per menu con icona animata**/
/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width:40%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    float:right;
    background-color: #087e8b; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #087e8b;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 15px;
    margin-left: 30px;
    padding: 5px;
  }

  .sidepanel{
    float:left;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #087e8b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius:13px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }