.notifica>img, .notificaDaLeggere>img{
    border: 2px solid var(--hilfeRed);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat; /**non ripete l'immagine nel caso il bottone fosse più grande dell'immagine**/
    background-position: center center; /**per centrare l'immagine**/
    margin-right: 10pt;
}

/**è tutto il main**/
.notificheMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    max-width: 700px;
}

h1{
    color:var(--hilfeBlue);
    font-size: 20pt;
    text-align: center;
    margin-bottom: 0;
}

.notifica, .notificaDaLeggere{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--hilfeGrey);
    padding:5pt;
}

.notifica{
    background-color: rgb(235, 229, 229);
}

.topNotifica{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding:0;
}

.topNotifica p{
    font-size: 8pt;
    margin-right: 5pt;
}

.infoNotifica{
    font-size: 10pt;
}

.infoNotifica span{
    color:var(--hilfeRed);
    font-weight: bold;
}

.elencoNotifiche{
    padding:0;
    list-style: none;
    margin-bottom: 0;
}

.testo{
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    h1{
        font-size: 23pt; /**valutare**/ 
    }

    .notificheMain{
        width:60%;
        box-shadow: 2px 2px 4px grey;
        border-radius: 10pt;
    }

    .elencoNotifiche{
        margin:0;
        padding:0;
    }

    .infoNotifica p{
        color:var(--hilfeGrey);

    }
}