.profilo {
    float: right;
    border: 2px solid var(--hilfeRed);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    /**non ripete l'immagine nel caso il bottone fosse più grande dell'immagine**/
    background-position: center center;
    /**per centrare l'immagine**/
}


.titoloPopup {
    font-size: 13pt;
    color: var(--hilfeRed);
    font-weight: bold;
}

.newPostContainer {
    width: 100%;
    max-width: 700px;
}

.articles {
    width: 80%;
    max-width: 700px;
    margin: 0 10px;
    text-align: center;
}

.articles>p{
    width: 100%;
    font-size: large;
    color: var(--hilfeGrey);
}

.newPost {
    justify-content: space-between;
    background-color: var(--hilfeBlue);
    border-radius: 10pt;
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
}

/**Nuovo post**/
.newPost a {
    text-align: center;
    background-color: white;
    border-radius: 10pt;
    padding: 7pt 10pt;
    color: var(--hilfeGrey);
    text-decoration: none;
    margin: 5pt 6pt;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.9);
    width: 100%;
    font-size: 11pt;
}

.newPost>* {
    margin: 7px;
}


.newPost>a:hover {
    background-color: white;
    font-weight: bold;
}

main>article section>p {
    margin: 5pt;
}


.navbar a {
    background-color: var(--hilfeRed);
    padding: 5pt;
    text-decoration: none;
    color: white;
    border-top-right-radius: 10pt;
    border-top-left-radius: 10pt;
}

.navbar .default {
    background-color: var(--hilfeBlue);
}

.default {
    background-color: var(--hilfeBlue);
}

.navbar a:active {
    /**deve cambiare colore una volta cliccato**/
    background-color: var(--hilfeBlue);
    font-weight: bold;
}

.navbar a:hover {
    /**deve cambiare colore una volta cliccato**/
    background-color: var(--hilfeBlue);
}

.leftAside {
    background-color: var(--hilfeRed);
    color: white;
    width: 90%;
    margin-bottom: 10pt;
    border-radius: 10pt;
}

.partenzaContainer {
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.partenzaContainer input {
    font-family: "Helvetica";
    width: 100%;
    border-radius: 10pt;
    border: none;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.9);
    padding: 5pt 3pt;

}



.rangeContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5pt;
}

.rangeContainer span {
    color: white;
    margin-bottom: 10pt;
}

.rangeContainer input {
    width: 100%;
    accent-color: var(--hilfeBlue);
}

.partenzaContainer input {
    margin-left: 10pt;
}

.vai {
    background-color: var(--hilfeBlue);
    color: white;
    border-radius: 15pt;
    border: 2px solid white;
    font-size: 14pt;
    margin-bottom: 5pt;
    width: 50%;
}

.vai:hover {
    background-color: white;
    color: var(--hilfeRed);
    cursor: pointer;
}

/**media query per dispositivi non mobile**/
@media screen and (min-width: 768px) {

    .navbar {
        margin-left: 10px;
    }

    .navbar a {
        float: left;
        margin: 0px 5px;
    }

}