section>h3, .titleAndText>h3{
    color: var(--hilfeGrey);
    margin:0;
}

.penna{
    margin-left: 3pt;
    background-color:var(--hilfeRed);
    width:20px;
    padding:5pt;
    border-radius: 10pt;
}

.articles header{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

article>header {
    margin: 0 15px;
}

article>header h2{
    margin-top:15pt;
}

article>header .infoUtente{
    display:flex;
    align-items: center;
    margin-left: auto;
}

.infoUtente{
    margin:0;
    text-decoration: none;
    color: var(--hilfeGrey);  
}

.nomeAutore{
    margin-right: 5pt;
    text-decoration: none;
    color: var(--hilfeGrey);
}

/**per modificare stile della tabella**/
table {
    border-collapse: collapse;
    width: 70%;
    margin: 10pt auto;
}

td,
th {
    border: 1px solid #ddd;
    padding: 2pt;
    font-size: 9pt;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    padding: 5pt;
    text-align: left;
    background-color: var(--hilfeBlue);
    color: white;
}

/**posiziona tab in alto**/
.newPostContainer {
    margin: 10pt auto 0 auto;
    text-align: center;
}

body main article {
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10pt;
    color: var(--hilfeGrey);
    text-align: left;
    background-color: white;
    box-shadow: 2px 2px 4px grey;
}

body main article p {
    font-size: 10pt;
}

.date, .infoUtente p{
    font-size: 8pt;
}

.time, .people, .phoneNumber{
    font-weight: bold;
}

article>footer {
    margin: 10px;
    text-align: center;
}

article>footer>input {
    background-color: var(--hilfeBlue);
    color: white;
}

article>footer>a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, var(--hilfeBlue), #0e4c53);
}

.openmap {
    width: 85%;
    height: 200px;
    z-index: 0;
    margin: 5pt auto;
    border: 2px solid var(--hilfeRed);
    border-radius: 10pt;
}


.buttonPartecipa, .buttonPartecipanti, .buttonSalva, .buttonAltriPost, .miPiace, .vediCommenti, .commenta, .buttonRimuovi{
    font-size: 9pt;
    font-family: "Fira Sans", sans-serif;
    padding: 5pt;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border:1px solid white;
    color: #ffffff;
}

.buttonSalva, .miPiace, .buttonRimuovi{
    border-top-left-radius: 10pt;
    border-bottom-left-radius: 10pt;
    margin-right: 0;
}

.buttonRimuovi{
    background-color: var(--hilfeGrey);
}

.buttonSalva, .miPiace{
    background: var(--hilfeRed);
}

.buttonPartecipa{
    background: var(--hilfeBlue);
    margin-left: 0;
    margin-right: 0;
}

.buttonPartecipanti {
    background: color-mix(in srgb,var(--hilfeBlue),#000 30%); 
    border-top-right-radius: 10pt;
    border-bottom-right-radius: 10pt;
    min-width: 50px;
    margin-left:0;
}
.buttonSalva:hover, .miPiace:hover, .buttonRimuovi:hover{
    background: var(--hilfeBlue);
}

/*.buttonPartecipanti:hover, commentare la regola sopra se il pulsante è premibile */
.buttonPartecipa:hover{
    background: var(--hilfeRed);
}

.buttonPartecipanti:hover {
    background: color-mix(in srgb,var(--hilfeRed),#000 30%); 
}

.button__progress {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background: var(--hilfeBlue);
    transition: width 0.3s;
    border-radius: 0 10pt 10pt 0;
}

.button__text {
    position: relative;
}

h3 {
    font-size: 15pt;
    font-weight: bold;
    color: white;
    padding: 5pt;
}

.buttonAltriPost{
    margin: 10px auto ;
    font-size: large;
    background: var(--hilfeRed);
    border-radius: 13pt;
    width: 20%;
}

.buttonAltriPost:hover{
    background: var(--hilfeBlue);
}

/**CSS per il pop up**/ 
.popup h3{
    color:var(--hilfeRed);
    font-weight: bold;
}

.popup .infoUser {
    width:90%;
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--hilfeGrey);
    text-decoration: none;
    color: grey;
}

.popup .infoUser p {
    margin: 5px 0;
}


.popup .infoUser img {
    width: 30px; /* Puoi regolare la larghezza dell'immagine a tuo piacimento */
    height:30px;
    border-radius: 50%;
    float:left; 
    margin-right: 3pt;
    border: 2px solid var(--hilfeRed);
     
}

.popup .profile{
    display:flex;
    flex-direction: column;
    justify-content: left;
}

.popup .profile span{
    width:100%;
    text-decoration: none;
    color:grey;
    font-size: 10pt;
    margin-top: 2pt;
    font-weight: bold;
}
.popup .profile span:hover{
    color:var(--hilfeRed);
}

.popup .profile p{
    color:grey;
    width: 100%;
}

.popup .amici{
    font-size: 8pt;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }

  .closePopup{
    background-color: var(--hilfeRed);
    color: white;
    border: 2px solid white;
    padding: 5pt 10pt;
    width:100%;
    border-radius: 5pt;
  }

  .closePopup:hover{
    background-color: var(--hilfeBlue);
    cursor:pointer;
  }

  /**css per post di tipo2**/ 
  .tipo2 .fotoPost{
    width:90%;
    margin:10pt auto;
    border-radius: 10pt;
  }

  .tipo2 section{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .miPiace{
    border-radius: 10pt;
    width: 40%;
    margin: 5pt auto;
  }

  .tipo2 footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 3pt;
  }

  .tipo2 .formCommenti{
    width: 100%;
    display: flex;
    margin:0;
    padding:0;
    justify-content: space-between;
  }

  .commentaField{
    width: 95%;
    padding:0;
    margin-bottom:0;
    border:none;
    border-bottom: 1px solid var(--hilfeGrey);
  }

  .pubblicaCommento{
    background-color: var(--hilfeRed);
    border: none;
    border-radius: 5pt;
    color:white;
    font-weight: bold;
    padding:2pt 5pt;
  }

  .pubblicaCommento:hover{
    background-color: var(--hilfeBlue);
    cursor: pointer;
  }

  .eliminaCommento{
    background-color: var(--hilfeGrey);
    height: fit-content;
    border-radius: 5pt;
    border:none;
    cursor:pointer;
}

.bin{
    width: 15px;
    margin-left:3pt;
    padding:0;
}

.titoloSezioneCommenti{
    color:var(--hilfeRed);
    font-size: 12pt;
    margin:5pt 0;
    padding:0;
}

.commenti{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:left;
    padding:2pt;
}

  .commenti li{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--hilfeGrey);
    margin-top:0; 
    padding:5pt;

  }

  .commenti li img{
    margin-right: 5pt;
    float: left;
  }

  .commento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fotoECommento{
    width: 90%;
  }


  .infoCommento{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
  }

  .infoCommento a{
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 0;
  }

  .infoCommento p:not(.dataCommento){
    margin-top: 0;
    font-size: 10pt;
  }

  .dataCommento{
    font-size: 8pt;
    margin-top: 0;
  }


@media screen and (min-width: 768px) {

    .content{
        display:flex;
        width: 100%;
    }

    .openmap, .fotoPost{
        width: 50%;
        height:auto;
        margin: 10px;
    }

    .tipo2 .content{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .text{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
   }

   .tipo2 .fotoPost{
    width: 50%;
    height: auto;
    margin-left: 10pt;
   }

   .sectionCommenti{
    width: 100%;
   }

   .titleAndText{
    display: flex;
    flex-direction: column;
   }

    
}