h1{
    background-color: #e79417;
    color:white;
    padding: 5pt;
    border-radius: 10pt;
}

form{
    background-color: white;
    border-radius: 10pt;
    color:#013c43;
    padding: 10pt;
    margin-bottom: 10pt;
    border: 3px solid #e79417;
}

form textarea{
    width:100%;
}
form>p, form>label{
    font-weight: bold;
}

form footer input{
    border-radius:5px;
    border: 2px solid white;
    margin-top: 10pt;
    padding:5px 15px;
    background-color: white;
    color: #e79417;
    font-weight: bold;
    font-size:12pt;  
    box-shadow: 0px 6px 5px 1px #013c43;
}